/* ========== Start Hero Section ========== */
main .hero-section {
	min-height: 90vh;
	display: flex;
	align-items: center;
	background: var(--gradient-color-primary) no-repeat center;
}

.hero-section .hero-content h1 {
	text-align: center;
}

/* ========== End Hero Section ============ */

/* ========== Start slider ========== */

.sliderDiv {
	width: var(--slider-width-and-height);
	height: var(--slider-width-and-height);
	position: relative;
	transform-style: preserve-3d;
	top: 50%;
}

.sliderDiv .slide-nav {
	position: absolute;
	right: calc(50% - 20%);
	display: flex;
	gap: 8px;
}

.slide-arrow {
	cursor: pointer;
}

.mainSlide {
	width: 100%;
	position: absolute;
	top: 8%;
	left: 0%;
	border-radius: 3px;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3), 0px 5px 10px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.leftSlide {
	width: 88%;
	position: absolute;
	top: 14%;
	left: 20%;
	border-radius: 3px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5), 0px 2px 4px rgba(0, 0, 0, 0.8);
	opacity: 0.5;
}

.rightSlide {
	width: 88%;
	position: absolute;
	top: 14%;
	right: 20%;
	border-radius: 3px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5), 0px 2px 4px rgba(0, 0, 0, 0.8);
	opacity: 0.5;
}

.slide {
	aspect-ratio: 1/1;
	padding: 0px;
	transition-duration: 600ms;
	text-align: center;
	line-height: calc(var(--slider-height) * 0.7);
	font-size: calc(var(--slider-height) * 0.09);
	overflow: hidden;
}
/* ========== End slider ============ */
