/* ========== Start Variable ========== */
:root {
	/* Colors */

	/* Primary Colors */
	--color-1: #f20c78;
	--color-2: #1e1540;
	--color-3: #9bdaf2;
	--color-4: #f28b0c;
	--color-5: #f2561d;

	/* ========== Start Color-1 Shade Colors ========== */
	--color-1-50: #fef1f8;
	--color-1-100: #ffe4f4;
	--color-1-200: #ffc9ea;
	--color-1-300: #ff9dd7;
	--color-1-400: #ff61bb;
	--color-1-500: #ff329e;
	--color-1-600-P: #f20c78;
	--color-1-700: #d4025e;
	--color-1-800: #af054e;
	--color-1-900: #910a43;
	--color-1-950: #5a0024;
	/* ========== End Color-1 Shade Colors ============ */

	/* ========== Start Color-2 Shade Colors ========== */
	--color-2-50: #edefff;
	--color-2-100: #dfe1ff;
	--color-2-200: #c5c8ff;
	--color-2-300: #a2a4ff;
	--color-2-400: #857dfc;
	--color-2-500: #715ef6;
	--color-2-600: #6340eb;
	--color-2-700: #5533cf;
	--color-2-800: #452ca7;
	--color-2-900: #3b2b84;
	--color-2-950-P: #1e1540;
	/* ========== End Color-2 Shade Colors ============ */

	/* ========== Start Color-3 Shade Colors ========== */
	--color-3-50: #f1fafe;
	--color-3-100: #e3f2fb;
	--color-3-200: #c0e7f7;
	--color-3-300-P: #9bdaf2;
	--color-3-400: #4bbde5;
	--color-3-500: #23a5d4;
	--color-3-600: #1585b4;
	--color-3-700: #126b92;
	--color-3-800: #135a79;
	--color-3-900: #154b65;
	--color-3-950: #0e3043;
	/* ========== End Color-3 Shade Colors ============ */

	/* ========== Start Color-4 Shade Colors ========== */
	--color-4-50: #fffbed;
	--color-4-100: #fff6d5;
	--color-4-200: #fee9aa;
	--color-4-300: #fdd774;
	--color-4-400: #fbba3c;
	--color-4-500: #f9a316;
	--color-4-600: #f28b0c;
	--color-4-700: #c2670c;
	--color-4-800: #9a5112;
	--color-4-900: #7c4312;
	--color-4-950: #432107;
	/* ========== End Color-4 Shade Colors ============ */

	/* ========== Start Color-5 Shade Colors ========== */
	--color-5-50: #fef5ee;
	--color-5-100: #fee7d6;
	--color-5-200: #fbccad;
	--color-5-300: #f9a878;
	--color-5-400: #f57a42;
	--color-5-500: #f2561d;
	--color-5-600: #e33c13;
	--color-5-700: #bc2b12;
	--color-5-800: #962416;
	--color-5-900: #792115;
	--color-5-950: #410d09;
	/* ========== End Color-5 Shade Colors ============ */

	/* ========== Start Gradient Colors ========== */
	--gradient-color-primary: linear-gradient(
		to right bottom,
		#c0e7f7,
		#bbe3fa,
		#b8defd,
		#b8d8fe,
		#bbd2ff,
		#c3cfff,
		#cdcbff,
		#d7c7fc,
		#e3c7f8,
		#eec7f4,
		#f7c8ef,
		#ffc9ea
	);
	/* ========== End Gradient Colors ============ */

	/* Font */
	--font-family-primary: "Mali", cursive;
	--font-family-secondary: "Playpen Sans", cursive;

	/* Font Size */
	--fw-regular: 400;
	--fw-semi-bold: 500;
	--fw-bold: 700;

	--fs-300: 0.8125rem;
	--fs-400: 0.875rem;
	--fs-500: 0.9375rem;
	--fs-600: 1rem;
	--fs-700: 1.875rem;
	--fs-800: 2.5rem;
	--fs-900: 3.5rem;

	--fs-body: var(--fs-400);
	--fs-primary-heading: var(--fs-800);
	--fs-secondary-heading: var(--fs-700);
	--fs-nav: var(--fs-500);
	--fs-button: var(--fs-300);

	@media (min-width: 50em) {
		:root {
			--fs-body: var(--fs-500);
			--fs-primary-heading: var(--fs-900);
			--fs-secondary-heading: var(--fs-800);
			--fs-nav: var(--fs-300);
		}
	}

	--all-radius: 24px;
	--all-mobile-radius: 16px;
}

/* ========== End Variable ============ */

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

/* ========== Start Reset CSS ========== */
/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

html,
body {
	height: 100%;
}

/* Set core body defaults */
body {
	text-rendering: optimizeSpeed;
	font-family: var(--font-family-primary);
	background: var(--color-5-50);
	line-height: 1.5;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

button {
	border: none;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* ========== End Reset CSS ============ */

/* ========== Start Utility Classes ========== */
.fw-bold {
	font-weight: var(--fw-bold);
}

.fw-semi-bold {
	font-weight: var(--fw-semi-bold);
}

.fw-regular {
	font-weight: var(--fw-regular);
}

.fs-primary-heading {
	font-size: var(--fs-primary-heading);
}

.fs-secondary-heading {
	font-size: var(--fs-secondary-heading);
}

.fs-300 {
	font-size: var(--fs-300);
}

.fs-400 {
	font-size: var(--fs-400);
}

.fs-500 {
	font-size: var(--fs-500);
}

.fs-600 {
	font-size: var(--fs-600);
}

/* ========== End Utility Classes ============ */

.container-full {
	width: 100%;
	height: auto;
	padding: 0 2%;
}

/* ========== Start Header ========== */
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	padding: 12px 2%;
	z-index: 10;
}

header.sticky {
	padding: 8px 2%;
	background: var(--color-1-50);
	box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

header.sticky .header-logo img {
	width: 60px;
	height: 60px;
}

header .header-logo img {
	aspect-ratio: 1/1;
	transition: 0.6s;
}

/* ========== Start Header Navigation ========== */
.mobile-nav-toggle {
	display: none;
}

header nav ul.header-navigation {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

header nav ul.header-navigation li {
	position: relative;
	list-style: none;
}

header nav ul.header-navigation li a:is(:link, :active, :visited) {
	position: relative;
	color: var(--color-1-950);
	font-weight: 600;
	transition: 0.6s;
}

header nav ul.header-navigation li a > span[aria-hidden="true"] {
	display: none;
}

header nav ul.header-navigation li a:is(:link, :active, :visited).nav-active {
	background: var(--color-2);
	color: var(--color-1-100);
	padding: 4px 8px;
}

/* ========== End Header Navigation ============ */
/* ========== End Header ============ */

/* ========== Start glass effect ========== */
.glass-color-effect {
	position: relative;
	font-weight: 600;
	padding: 12px 20px;
	border-radius: var(--all-radius);
	color: var(--color-1-950);
	background: rgba(255, 255, 255, 0.3);
	overflow: hidden;
	transition: 0.5s;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.glass-color-effect:hover {
	color: var(--color-action);
	text-shadow: 0 0 15px var(--color-action), 0 0 64px var(--color-action);
}

.glass-color-effect::before {
	content: "";
	position: absolute;
	top: var(--y);
	left: var(--x);
	transform: translate(-50%, -50%);
	background: radial-gradient(var(--color-action), transparent, transparent);
	width: 160px;
	height: 160px;
	opacity: 0;
	transition: 0.5s, top 0s, left 0s;
}

.glass-color-effect:hover::before {
	opacity: 1;
}

.glass-color-effect::after {
	content: "";
	position: absolute;
	inset: 1.5px;
	background: rgba(255, 255, 255, 0.8);
	border-radius: var(--all-radius);
}
/* ========== End glass effect ============ */

/* ========== Start Button Style ========== */
.call-button span {
	position: relative;
	z-index: 2;
	letter-spacing: 0.1em;
	font-size: var(--fs-600);
}

.call-button span.button-icon {
	padding-right: 8px;
	font-size: var(--fs-600);
}

/* ========== End Button Style ============ */

/* ========== Start Hero Section ========== */
main .hero-section {
	min-height: 90vh;
	background: var(--gradient-color-primary) no-repeat center;
}

/* ========== End Hero Section ============ */

/* ========== Start example ========== */

/* ========== End example ============ */

/* ========== Start Screen Responsive ========== */
@media (max-width: 48em) {
	header {
		flex-direction: row;
		justify-content: space-between;
	}

	header nav {
		position: inherit;
	}

	button.mobile-nav-toggle {
		display: block;
		cursor: pointer;
		padding: unset;
	}

	.mobile-nav-toggle--icon {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
	}

	.mobile-nav-toggle--icon i {
		position: absolute;
		z-index: 1;
		opacity: 0;
		transition: 0.6s;
	}
	.mobile-nav-toggle--icon i.icon-active {
		z-index: 2;
		opacity: 1;
		rotate: 360deg;
	}

	header nav ul.header-navigation {
		position: fixed;
		flex-direction: column;
		align-items: flex-start;
		top: 90px;
		right: 2%;
		z-index: 5;
		padding: 32px;
		/*inset: 20% 8% 20%;*/
		border-radius: var(--all-mobile-radius);
		background: var(--color-2-950-P);
		transform: translateX(112%);
		transition: transform 350ms ease-out;
	}

	.header-navigation[data-visible="true"] {
		transform: translateX(0);
	}

	header nav ul.header-navigation li a {
		color: var(--color-1-50);
		font-size: var(--fs-600);
	}

	header nav ul.header-navigation li a > span[aria-hidden="true"] {
		display: inline-block;
		margin-right: 8px;
	}
}

@media screen and (max-width: 480px) {
	.glass-color-effect span {
		font-size: var(--fs-500);
	}

	.glass-color-effect {
		padding: 8px 16px;
		border-radius: var(--all-mobile-radius);
	}

	.glass-color-effect::after {
		border-radius: var(--all-mobile-radius);
	}

	.call-button span.button-icon {
		padding-right: 0;
	}
}

@media screen and (max-width: 370px) {
	.glass-color-effect {
		padding: 8px 12px;
	}

	.call-button span {
		font-size: var(--fs-400);
	}
}

@media screen and (max-width: 318px) {
	.glass-color-effect::after {
		border-radius: 50%;
	}
	.call-button {
		padding: 8px;
		border-radius: 50%;
	}
	header .call-button .button-text {
		display: none;
	}
}

/* ========== End Screen Responsive ============ */
